.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#a6e4e7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height:50px;
}

.nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    padding:16px 45px;

}

.nav-links a:hover {
    color: #007bff;
}

.nav-links button{
border:none;
background-color: #a6e4e7;
padding:0px 45px;
margin: 0 1rem;
font-size: 15px;
}

.nav-links button:hover{
    color: #007bff;
    
    }


h3 {
    padding-left:45px;
}